p {
    font-family: Arial;
    color: #003399;
}

span.bold_text {
    font-weight: bold;
}

.caption-full {
    position: relative;
    width: 30%;
    left: 38%;
}

label {
    width: 80px; 
}

.bottom {
    margin-bottom: 20px;
}

input.accedi {
    float: right;
    right: 18%;
    position: relative;
}

.errore {
    color: red;
    font-weight: bold;
    
}

.border_red {
  border: 1px solid red !important;
  border-radius: 3px 3px 3px 3px;
}